.banner-three{
height: 70vh;
background-image: url("../images/route.jpg");
background-size: cover;
background-size: bottom;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 20px;
}

.banner-three h1 {
	text-shadow: 1px 1px 1px black;
}
}

.container h3{
	text-decoration: underline overline ;
	text-decoration-color: orange;
}

